@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 5rem;
}

/* header */
.header-title {
    font-size: 1.8rem;
}

/* nav */
.list-group a {
    text-decoration: none;
}
.list-group a li:hover {
    background-color: #e2e2e2;
    transition: .3s;
}
.header-links {
    height: 100%;
}
.header-links a {
    height: 100%;
}
.header-links a:hover{
    background-color: #f8f8f8;
    transition: .3s;
    border-radius: none;
}
.carousel img{
    height: 350px;
    /* object-fit: cover; */
}