@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 5rem;
}

@media(max-width: 530px) {
    body {
        margin: 0;
    }
}

/* header */
.nav-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    letter-spacing: 8px;
}

/* nav */
.list-group li{
    border: none;
}
.list-group a {
    text-decoration: none;
}
.list-group a li:hover {
    background-color: #e2e2e2;
    transition: .3s;
}
.nav-links {
    height: 100%;
}
.nav-links a {
    height: 100%;
}
.nav-links a:hover{
    background-color: #f8f8f8;
    transition: .3s;
    border-radius: none;
}
.carousel img{
    height: 350px;
    /* object-fit: cover; */
}